<html lang="zxx" class="no-js">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="CodePixar">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>ProGear</title>
    <!--CSS============================================= -->
    <link rel="stylesheet" href="css/linearicons.css">
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/themify-icons.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/nice-select.css">
    <link rel="stylesheet" href="css/nouislider.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <!-- Start Header Area -->
    <header class="header_area sticky-header">
    </header>

    <!--================Login Box Area =================-->
    <section class="login_box_area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-6" style="padding: 0%;">
                    <div class="login_form_inner">
                        <h3>Signup on the website</h3>
                        <form class="row login_form" action="/signup" method="POST" id="myform">
                            <div class="col-md-12 form-group">
                                <input type="text" class="form-control" id="fname" name="fname" placeholder="First Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'First Name'"  onkeyup="fnameValidation()">
                                <span id="fname-error" class="validation-label"></span>
                            </div>
                            <div class="col-md-12 form-group">
                                <input type="text" class="form-control" id="lname" name="lname" placeholder="Last Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Last Name'" onkeyup="lnameValidation()">
                                <span id="lname-error" class="validation-label"></span>
                            </div>
                            <div class="col-md-12 form-group">
                                <input type="email" class="form-control" id="email" name="email" placeholder="E-mail" onfocus="this.placeholder = ''" onblur="this.placeholder = 'E-mail'" onkeyup="emailValidation()">
                                <span id="email-error" class="validation-label"></span>
                            </div>
                            <div class="col-md-12 form-group">
                                <input type="password" class="form-control" id="password" name="password" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'" onkeyup="newPasswordValidation()">
                                <span id="newPassword-error" class="validation-label"></span>
                            </div>
                            <div class="col-md-12 form-group">
                                <input type="number" class="form-control" id="number" name="number" placeholder="Phone Number" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Phone Number'" onkeyup="numberValidation()">
                                <span id="number-error" class="validation-label"></span>
                            </div>
                            <div class="col-md-12 form-group">
                                <% if (typeof message !== 'undefined') { %>
                                <center>
                                <div class="audun_warn">
                                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                    <%= message %>
                                </div>
                                </center>
                                <% } %>
                            </div>
                            <div class="col-md-12 form-group">
                                <button type="submit" value="submit" class="primary-btn">Sign Up</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6" style="padding: 0%;">
                    <div class="login_box_img">
                        <img class="img-fluid" src="img/login cover.jpg" alt="">
                        <div class="hover">
                            <h4>Already have an account?</h4>
                            <p>There are advances being made in science and technology everyday, and a good example of this is the</p>
                            <a class="primary-btn" href="/login">Login to your Account</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Login Box Area =================-->

    <script src="js/vendor/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
     crossorigin="anonymous"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery.sticky.js"></script>
    <script src="js/nouislider.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <!--gmaps Js-->
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY"></script>
    <script src="js/gmaps.min.js"></script>
    <script src="js/main.js"></script>

    <script>
        const regex = /^(?!\s*$).+/;
        const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        const digitRegex = /^\d{10}$/
		const passwordRegex =/^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$/;
      
        const fnameError = document.getElementById("fname-error");
        const lnameError = document.getElementById("lname-error");
        const emailError = document.getElementById("email-error");
        const newPasswordError = document.getElementById("newPassword-error");
        const numberError = document.getElementById("number-error");
      
        const myform = document.getElementById("myform");
      
        function fnameValidation() {
          const name = document.getElementById("fname").value;
          const nameInput = document.getElementById("fname");
          if (name.length == 0) {
            fnameError.innerHTML = "First Name is required";
            fnameError.style.color = "red";
            nameInput.style.border = "solid 2px red";
            return false;
          }
          if (!name.match(regex)) {
            fnameError.innerHTML = "Write valid First Name";
            fnameError.style.color = "red";
            nameInput.style.border = "solid 2px red";
            return false;
          }
          if (name.length>30) {
            fnameError.innerHTML = "First Name must be less than 50 characters";
            fnameError.style.color = "red";
            nameInput.style.border = "solid 2px red";
            return false;
          }
          fnameError.innerHTML = "";
          fnameError.style.color = "green";
          nameInput.style.border = "solid 2px green";
          return true;
        }
        function lnameValidation() {
          const name = document.getElementById("lname").value;
          const nameInput = document.getElementById("lname");
          if (name.length == 0) {
            lnameError.innerHTML = "Last Name is required";
            lnameError.style.color = "red";
            nameInput.style.border = "solid 2px red";
            return false;
          }
          if (!name.match(regex)) {
            lnameError.innerHTML = "Write valid Last Name";
            lnameError.style.color = "red";
            nameInput.style.border = "solid 2px red";
            return false;
          }
          if (name.length>30) {
            fnameError.innerHTML = "Last Name must be less than 50 characters";
            fnameError.style.color = "red";
            nameInput.style.border = "solid 2px red";
            return false;
          }
          lnameError.innerHTML = "";
          lnameError.style.color = "green";
          nameInput.style.border = "solid 2px green";
          return true;
        }
        function emailValidation() {
          const name = document.getElementById("email").value;
          const nameInput = document.getElementById("email");
          if (name.length == 0) {
            emailError.innerHTML = "e-mail is required";
            emailError.style.color = "red";
            nameInput.style.border = "solid 2px red";
            return false;
          }
          if (!name.match(emailRegex)) {
            emailError.innerHTML = "Write valid e-mail";
            emailError.style.color = "red";
            nameInput.style.border = "solid 2px red";
            return false;
          }
          emailError.innerHTML = "";
          emailError.style.color = "green";
          nameInput.style.border = "solid 2px green";
          return true;
        }
        function newPasswordValidation() {
		  const name = document.getElementById("password").value;
		  const nameInput = document.getElementById("password");
		  if (name.length == 0) {
			newPasswordError.innerHTML = "Must not be Empty";
			newPasswordError.style.color = "red";
			nameInput.style.border = "solid 2px red";
			return false;
		  }
		  if (!name.match(regex)) {
			newPasswordError.innerHTML = "Must be Valid";
			newPasswordError.style.color = "red";
			nameInput.style.border = "solid 2px red";
			return false;
		  }
		  if (name.length>50) {
			newPasswordError.innerHTML = "Password must be less than 50 characters";
			newPasswordError.style.color = "red";
			nameInput.style.border = "solid 2px red";
			return false;
		  }
		  if (!name.match(passwordRegex)) {
			newPasswordError.innerHTML = "Password Should Contain atleast 8 characters,one number and a special character";
			newPasswordError.style.color = "red";
			nameInput.style.border = "solid 2px red";
			return false;
		  }
		  newPasswordError.innerHTML = "";
		  newPasswordError.style.color = "green";
		  nameInput.style.border = "solid 2px green";
		  return true;
		}
  
        function numberValidation() {
          const name = document.getElementById("number").value;
          const nameInput = document.getElementById("number");
          if (name.length == 0) {
            numberError.innerHTML = "Number is required";
            numberError.style.color = "red";
            nameInput.style.border = "solid 2px red";
            return false;
          }
          if (!name.match(regex)) {
            numberError.innerHTML = "Write valid Number";
            numberError.style.color = "red";
            nameInput.style.border = "solid 2px red";
            return false;
          }
          if (!name.match(digitRegex)) {
            numberError.innerHTML = "Mobile Number should have 10 digit";
            numberError.style.color = "red";
            nameInput.style.border = "solid 2px red";
            return false;
          }
          numberError.innerHTML = "";
          numberError.style.color = "green";
          nameInput.style.border = "solid 2px green";
          return true;
        }
      
        myform.addEventListener("submit", (event) => {
          event.preventDefault();
          if (!fnameValidation() || !lnameValidation() || !emailValidation() || !newPasswordValidation() || !numberValidation()) {
            return false;
          } else {
            myform.submit();
          }
        });
      </script>
</body>
</html>
