	<%- include('../layouts/adminHeader.ejs') %>

        <!-- partial -->
<div class="main-panel">
  <div class="content-wrapper">
    <div class="page-header">
      <h3 class="page-title">Add Category</h3>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/admin/category">Category Management</a></li>
          <li class="breadcrumb-item active" aria-current="page">Add Category</li>
        </ol>
      </nav>
    </div>
    <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Enter the details of the new category</h4>
            <form class="forms-sample" action="/admin/addCategory" method="POST" id="myform">
              <div class="form-group">
                <label for="exampleInputName1">Name</label>
                <input type="text" class="form-control" id="name" name="name" onkeyup="nameValidation()">
                <span id="name-error" class="validation-label"></span>
              </div>
              <div class="form-group">
                <label for="exampleTextarea1">Description</label>
                <textarea class="form-control" id="description" rows="4" name="des" onkeyup="descriptionValidation()"></textarea>
                <span id="description-error" class="validation-label"></span>
              </div>
              <% if (typeof message !== 'undefined') { %>
								<center>
								<div class="audun_warn">
									<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
									<%= message %>
								</div>
								</center>
							<% } %>
              
              <button type="submit" class="btn btn-primary mr-2" onclick="validate()">Submit</button>
              <button class="btn btn-dark">Cancel</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
<%- include('../layouts/adminFooter.ejs') %>


<script>
  let regex = /^(?!\s*$).+/;

  let nameError = document.getElementById("name-error");
  let descriptionError = document.getElementById("description-error");

  let myform = document.getElementById("myform");

  function nameValidation() {
    let name = document.getElementById("name").value;
    let nameInput = document.getElementById("name");
    if (name.length == 0) {
      nameError.innerHTML = "Name is required";
      nameError.style.color = "red";
      nameInput.style.border = "solid 2px red";
      return false;
    }
    if (!name.match(regex)) {
      nameError.innerHTML = "Write valid Name";
      nameError.style.color = "red";
      nameInput.style.border = "solid 2px red";
      return false;
    }
    nameError.innerHTML = "";
    nameError.style.color = "green";
    nameInput.style.border = "solid 2px green";
    return true;
  }

  function descriptionValidation() {
    let name = document.getElementById("description").value;
    let nameInput = document.getElementById("description");
    if (name.length == 0) {
      descriptionError.innerHTML = "Description is required";
      descriptionError.style.color = "red";
      nameInput.style.border = "solid 2px red";
      return false;
    }
    if (!name.match(regex)) {
      descriptionError.innerHTML = "Write valid Description";
      descriptionError.style.color = "red";
      nameInput.style.border = "solid 2px red";
      return false;
    }
    descriptionError.innerHTML = "";
    descriptionError.style.color = "green";
    nameInput.style.border = "solid 2px green";
    return true;
  }

  myform.addEventListener("submit", (event) => {
    event.preventDefault();
    if (!nameValidation() || !descriptionValidation()) {
      return false;
    } else {
      myform.submit();
    }
  });
</script>